*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
body{background-color: rgb(34, 34, 34); height: 99vh; display: flex; align-items: center;}

.box{
    background-image: linear-gradient(-50deg, #ff00d2, #fed90f, #00a2ff, #09f1b8);
    /* background-clip: border; */
    padding: 30px;
    border-radius: 30px;
    margin: 0 auto;
    height: auto;
}

.box h1{
    text-align: center;
    font-size: 100px;
    color: rgb(34, 34, 34);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-image: linear-gradient(20deg, #ff00d2, #fed90f, #00a2ff, #09f1b8);
    background-clip: text;
    -webkit-text-stroke-width: 15px;
    -webkit-text-stroke-color: transparent;
}









